.tricolor-board {
    height: 80vmin;
    width: 80vmin;
    position: relative;
}

.tricolor-cell {
    transition: fill 0.3s linear;
    &.finished {
        animation: 2s infinite tricolorHola;
    }
}

@keyframes tricolorHola {
    0%  { fill: green; }
    20% { fill: yellow; }
    40% { fill: red; }
    60% { fill: magenta; }
    80% { fill: blue; }
    100%  { fill: green; }
}