.eternal-board {
    width: 75vmin;
    height: 75vmin;
    position: relative;
}

.eternal-svg {
    display: block;
}

.eternal-line1 {
    stroke: grey;
    stroke-dasharray: 3,1;
}

.eternal-guard {
    transition: transform 0.5s linear;
    pointer-events: none;
}


.eternal-info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: blue;
    padding: 0;
}