.eternal-svg {
    display: block;

}

.eternal-line1 {
    stroke: grey;
    stroke-dasharray: 3,1;
}

.eternal-guard {
    transition: transform 0.5s linear;
    pointer-events: none;
    &.no-move {
        transition: none;
    }
}

.eternal-sel {
    cursor: pointer;
}

.eternal-info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: blue;
    padding: 0;
}