.sansmot-main {
    position: relative;
}

.sansmot-menu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
}

.sansmot-pagelink {
    width: 4rem;
    height: 4rem;
    border: solid blue thick;
    text-align: center;
}

.sansmot-title {
    text-align: center;
    color: #0066FF
}

.sansmot-h2 {
    color: #009900
}

.sansmot-center {
    text-align: center;
}

.sansmot-svg {
    display: inline-block;
}

.sansmot-grid {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 10;
}

.sansmot-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer
}