.chocolat-square {
    fill: #b37b47;
    stroke: black;
    stroke-width: 3;
    x: 7px;
    y: 7px;
    width: 36px;
    height: 36px;

    &.soap {
        fill: cyan;
    }

    &.hidden {
        opacity: 0;
    }
}

.chocolat-skull {
    fill: #20AF20;
}

.chocolat-cutter {
    fill: blue;
}

.chocolat-cut-line {
    stroke: red;
    stroke-width: 2;
    stroke-dasharray: 10;
    pointer-events: none;
    opacity: 0.6;
}