.labete-color {
    position: absolute;
    left: 10rem;
    top: -4em;
    display: inline-block;
    width: 3.5em;
    height: 2.5em;
}

.labete-beast {
    opacity: 0;
    transition: opacity 0.3s ease-in;

    &.visible {
        opacity: 0.6;
        transition: none;
    }
}

.labete-square-borders {
    stroke: black;
    stroke-width: 0.5;
    fill: transparent;
}

.labete-cursor {
    opacity: 0.7;

    &.overtrap {
        opacity: 0.3;
    }
}

.labete-zone {
    stroke: black;
    pointer-events: none;
    opacity: 0.4;
}

.labete-custombeast-grid-container {
    width: 50vmin;
    height: 50vmin;
}

.labete-bestscore-grid-container {
    width: 60vmin;
    height: 60vmin;
}