.nim-board {
    height: 80vmin;
    width: 80vmin;
    position: relative;
    background-color: lightblue;
}

.nim-player {
    cursor: not-allowed;
    transition: all 0.5s linear;
};

.nim-turn-message {
    position: absolute;
    left: 0;
    color: blue;
    font-size: 1.5em;
}