.solitaire-hole {
    &.candrop {
        stroke: green;
        stroke-width: 4;
    }
}
.solitaire-peg {
    cursor: pointer;
    &.dragged {
        opacity: 0.3;
    }
}

.solitaire-scoredialog {
    height: 60vmin;
    width: 60vmin;
}