.hanoi-board {
    position: relative;
    width: 100vmin;
    height: 50vmin;
}

.hanoi-disk {
    stroke: black;
    &.dragged {
        opacity: 0;
    }
}

.hanoi-nbmoves {
    position: absolute;
    top: 0;
    left: 0.5em;
    color: blue;
    font-size: 1.5em;
}