.valise-object {
    &.draggable {
        cursor: -webkit-grab;
        cursor: grab;
    }
}

.valise-object-area {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.valise-object-link {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}