.valise-objects {
    position: relative;
    height: 100%;
    width: 100%;
}

.valise-help {
    position: absolute;
    left: 70%;
    top: 20%;
    font-size: 1.5em;
    display: inline;
    border: thick solid blue;
    padding: 0.5em;
    border-radius: 0.5em;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.visible {
        opacity: 1;
    }
}

.valise-hanoi-bot {
    width: (74% / 8.25);
    height: (50.5% / 6.9);
    left: (480% / 8.25);
    top: (400% / 6.9);
    .valise-object-area {
        width: 40%;
        height: 40%;
        margin: 20% 30% 40%;
    }
}

.valise-card {
    width: (40% / 8.25);
    height: (50% / 6.9);
    left: (450% / 8.25);
    top: (130% / 6.9);
    transform: rotate(30deg);
}

.valise-wheel {
    width: (50% / 8.25);
    height: (50% / 6.9);
    left: (400% / 8.25);
    top: (200% / 6.9);
    transform: scale(1, 0.8);
}

.valise-hanoi-top {
    width: (60% / 8.25);
    height: (57% / 6.9);
    left: (487% / 8.25);
    top: (379% / 6.9);
    z-index: 6;
    cursor: -webkit-grab;
    cursor: grab;
}

.valise-frog {
    width: (35% / 8.25);
    height: (34% / 6.9);
    left: (549% / 8.25);
    top: (320% / 6.9);
    & .valise-symbol {
       fill: #bcd35f;
    }
}

.valise-flowerpot {
    width: (60% / 8.25);
    height: (60% / 6.9);
    left: (536% / 8.25);
    top: (309% / 6.9);
    z-index: 6;
    cursor: -webkit-grab;
    cursor: grab;
}

.valise-switch {
    width: (35% / 8.25);
    height: (50% / 6.9);
    left: (300% / 8.25);
    top: (450% / 6.9);
    cursor: pointer;
    &.on {
        transform: scale(1, -1);
    }
}

.valise-bulb {
    width: (48% / 8.25);
    height: (48% / 6.9);
    left: (477% / 8.25);
    top: (280% / 6.9);
}

.valise-bulbon {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;

    &.on {
        opacity: 1;
        pointer-events: auto;
    }
}

.valise-pawimage {
    width: (26% / 8.25);
    height: (25% / 6.9);
    opacity: 0.4;
    z-index: 6;
    pointer-events: none;
    transform: rotate(35deg);
}

@each $i in 0 1 2 3 4 5 6 {
    .valise-paw-#{$i} {
        @if $i % 2 == 0 {
            top: ((270% - 30% * 0.85 * $i) / 6.9);
            left: ((250% + 30% * 0.52 * $i) / 8.25);
        }
        @else {
            top: ((270% - 30% * 0.85 * $i + 0.76 * 30%) / 6.9);
            left: ((250% + 30% * 0.52 * $i + 0.65 * 30%) / 8.25);
        }
    }
}

.valise-paw {
    cursor: zoom-in;
    pointer-events: auto;
}

.valise-quiet {
    width: (40% / 8.25);
    height: (40% / 6.9);
    left: (200% / 8.25);
    top: (150% / 6.9);
}

.valise-knight {
    width: (18% / 8.25);
    height: (37% / 6.9);
    transform: rotate(40deg);
    left: (451% / 8.25);
    top: (383% / 6.9);
}

.valise-chocolate {
    width: (45% / 8.25);
    height: (45% / 6.9);
    transform: rotate(40deg);
    left: (170% / 8.25);
    top: (210% / 6.9);
}

.valise-tile {
    width: (120% / 8.25);
    height: (60% / 6.90);
    left: (280% / 8.25);
    top: (400% / 6.90);
    .valise-object-area {
        width: 30%;
        height: 60%;
        margin: 20% 35% 20%;    
    }
}

.valise-tricolor {
    width: (90% / 8.25);
    height: (60% / 6.90);
    left: (350% / 8.25);
    top: (350% / 6.90);

    .valise-object-area {
        width: 40%;
        height: 45%;
        margin: 25% 30% 30%;    
    }
}

.valise-race {
    width: (64% / 8.25);
    height: (64% / 6.90);
    left: (420% / 8.25);
    top: (460% / 6.90);
    transform: rotate(40deg);

    .valise-object-area {
        width: 60%;
        height: 100%;
        margin-top: 20%;
        margin-bottom: 20%;    
    }
}

.valise-pen {
    width: (60% / 8.25);
    height: (60% / 6.90);
    left: (610% / 8.25);
    top: (400% / 6.90);

    .valise-object-area {
        width: 60%;
        height: 60%;
        margin: 20%;    
    }
}

.valise-stack {
    width: (50% / 8.25);
    height: (50% / 6.90);
    left: (340% / 8.25);
    top: (500% / 6.90);

    .valise-object-area {
        width: 70%;
        height: 100%;
        margin-left: 15%;
        margin-right: 15%;   
    }
}