@font-face {
  font-family: 'Shantell Sans';
  src: url('./fonts/Shantell_Sans-Informal_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --amber-400: #fbbf24;
  --amber-700: #b45309;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --cyan-400: #22d3ee;
  --fuchsia-400: #e879f9;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-900: #111827;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --indigo-400:  #818cf8;
  --indigo-600: #534ab7;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --orange-500: #f97316;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --sky-400: #38bdf8;
  --slate-400: #94a3b8;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --violet-300: #c4b5fd;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --yellow-300: #fde047;
  --yellow-400: #facc15;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  --main-color: var(--slate-700);
  --emph-color: var(--blue-700);
  --tooltip-bg: #0000bf;
  --handwritten: "Shantell Sans", "Monospaced Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  --centered-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  font-size: 2vmin;
  font-family: var(--handwritten);

  color: var(--main-color);
  line-height: 1.15;
}


html, body {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  margin: 0;
  user-select: none;
  touch-action: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.ui-board {
  overflow: hidden;
  box-shadow: var(--centered-shadow);
  position: relative;
}

.ui-button {
  background-color: var(--violet-500);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--handwritten);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: var(--shadow-md);
  transition: all 200ms ease;
  cursor: pointer;
  
  &:hover {
    background-color: var(--violet-600);
    box-shadow: var(--shadow-lg);
  }

  &:disabled {
    background-color: var(--violet-300);
    opacity: 0.6;
    cursor: not-allowed;
  }
}